.links {
  li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
  }
}

.cards, .tables {
  display: flex;
  justify-content: space-around;
}

.cards {
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
}

.user-info {
  h3 {
    margin: 0;
    padding: 0;
  }
}

.amounts {
  display: flex;
  justify-content: space-around;

  div {
    margin-left: 30px;
  }
}
